# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   SQL

### Some of the commonly used libraries used by Data Scientists include:


1.   SKlearn
2.   pytorch
3.   Pandas
4.   NumPy

### Data Science Tools

Python

R

Apache Spark

Tensorflow

Tableau

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
2+2

4

In [6]:
4*3+6

18

In [7]:
(30+5)*4

140

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
hours

3.3333333333333335

# Objectives:


*   Popular Data sience languages are Python and R
*   Jupyter notebook is starting point for beginner Data scientist
*   There many Machine learning algorithms, main are supervised and unsupervised algorithms
*   Some important libraries for data science are numpy, pandas, pytorch, tensorflow, scikit learn and more

## Author
Diwaker Mishra